/*<!--Student Name: Chantel Gee
Assignment Name: Project 3: Portfolio Website
Date: 04.02.25*/

@media only screen and (min-width : 300px) {

  @font-face {
    font-family: VIRUST;
    src: url(VIRUST.ttf);
  }

  * {
    margin: 0;
  }

  header {
    align-items: center;
    background-color: rgba(24, 18, 46, .7);
    display: flex;
  }

  .logo {
    height: 5vh;
    padding: 2%;
  }

  nav {
    display: flex;
    justify-content: space-around;
  }
  nav a {
    color: #EFEBFD;
    font-family: VIRUST;
    padding: 4% 6%;
    text-decoration: none;
  }

  body {
    background: linear-gradient(180deg, rgba(35, 35, 105, 0.8) 0%, rgba(24, 16, 53, 0.9) 87%, #da8fad 100%), url("https://t4.ftcdn.net/jpg/02/87/60/39/360_F_287603921_NGjOTWre2djiPMoSYGhrz2aUYXPRgzuu.jpg");
    background-position: top left;
    color: #EFEBFD;
    /* height: 100vh; */
    min-height: 100vh;
  }

  /* HOME */

  main.home {
    align-items: center;
    display: flex;
    height: 70vh;
    justify-content: center;
    
  }

  .homeElements {
    align-items: center;
    display: flex;
    font-family: "Source Serif 4", serif;
    justify-content: center;
  }

  .leftText {
    font-size: .7em;
    text-align: right;
    width: 15vw;
  }

  .rightText {
    font-size: .8em;
    width: 15vw;
  }

  .pink {
    color:#E2AEC3;
    text-shadow: rgb(255, 112, 200) 0px 0px 5px;
  }

  .blue {
    color:#AEC0E2;
    text-shadow: rgb(94, 217, 255) 0px 0px 5px;
  }

  .profPic {
    border-radius: 50%;
    height: 40vh;
    padding: 2%;
  }

  .footer {
    align-items: center;
    bottom: 0;
    display: flex;
    position: absolute;
    width: 100%;
  }
  
  .footer h2 {
    
    color: #570d2a;
    font-family: VIRUST;
    padding: 2%;
  }

  /* GALLERY */

  main.gallery {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5%;
  }

  .box {
    align-items: center;
    background-color: rgb(226, 174, 195);
    border: 2px solid #570d2a;
    color: #18122E;
    display: flex;
    font-size: 2em;
    height: 30vh;
    justify-content: center;
  }

  .box a {
    color: #EFEBFD;
    font-family: "Source Serif 4", serif;
    font-style: italic;
    font-weight: 800;
    text-decoration: none;
    text-shadow: -1px 0 #18122E, 0 1px #18122E, 1px 0 #18122E, 0 -1px #18122E;
  }

  .box1 {
    background: linear-gradient(180deg, rgba(0, 0, 50, 0.8) 0%, rgba(0, 0, 50, 0.5) 100%), url("/images/uxuiGallery.PNG");
    background-position: top center;
    background-size: cover;
  }

  .box2 {
    background: linear-gradient(180deg, rgba(0, 0, 50, 0.8) 0%, rgba(0, 0, 50, 0.5) 100%), url("/images/illus1.png");
    background-position: top center;
    background-size: cover;
  }

  .box3 {
    background: linear-gradient(180deg, rgba(0, 0, 50, 0.8) 0%, rgba(0, 0, 50, 0.5) 100%), url("/images/web1.png");
    background-position: top center;
    background-size: cover;
  }

  .box4 {
    background: linear-gradient(180deg, rgba(0, 0, 50, 0.8) 0%, rgba(0, 0, 50, 0.5) 100%), url("/images/type1.png");
    background-position: top center;
    background-size: cover;
  }

  main.uxui, main.type, main.illus, main.web, main.resume h4, main.resume p {
    font-family: 'Roboto';font-weight: 400;
    font-style: normal;
  }

  main.uxui h1, main.type h1, main.illus h1, main.web h1 {
    font-family: "Source Serif 4", serif;
  }

  .galleryIMG {
    width: 70vw;
  }

}

@media only screen and (min-width : 900px) {
  .leftText {
    font-size: .9em;
    text-align: right;
    width: 20vw;
  }

  .rightText {
    font-size: 1.2em;
    width: 30vw;
  }
}