/*<!--Student Name: Chantel Gee
Assignment Name: Project 3: Portfolio Website
Date: 04.02.25*/

@media only screen and (min-width : 300px) {

  @font-face {
    font-family: VIRUST;
    src: url(VIRUST.ttf);
  }

  * {
    box-sizing: border-box;
    margin: 0;
  }

  header {
    align-items: center;
    background-color: rgba(24, 18, 46, .7);
    display: flex;
    position: sticky;
    top: 0;
  }

  .logo {
    height: 5vh;
    padding: 2%;
  }

  nav {
    display: flex;
    justify-content: space-around;
  }
  nav a {
    color: #EFEBFD;
    font-family: VIRUST;
    padding: 10% 6%;
    text-decoration: none;
  }

  body {
    background: linear-gradient(180deg, rgba(35, 35, 105, 0.8) 0%, rgba(24, 16, 53, 0.9) 87%, #da8fad 100%), url("https://t4.ftcdn.net/jpg/02/87/60/39/360_F_287603921_NGjOTWre2djiPMoSYGhrz2aUYXPRgzuu.jpg");
    background-position: top left;
    color: #EFEBFD;
    /* height: 100vh; */
    min-height: 100vh;
    position: relative;
  }

  /* HOME */

  main.home {
    align-items: center;
    display: flex;
    height: 70vh;
    justify-content: center;
    
  }

  .homeElements {
    align-items: center;
    display: flex;
    font-family: "Source Serif 4", serif;
    justify-content: center;
  }

  .leftText {
    font-size: .7em;
    text-align: right;
    width: 15vw;
  }

  .rightText {
    font-size: .8em;
    width: 15vw;
  }

  .pink {
    color:#E2AEC3;
    text-shadow: rgb(255, 112, 200) 0px 0px 5px;
  }

  .blue {
    color:#AEC0E2;
    text-shadow: rgb(94, 217, 255) 0px 0px 5px;
  }

  .profPic {
    border-radius: 50%;
    filter: drop-shadow(rgb(255, 112, 200) 0px 0px 10px);
    height: 40vh;
    padding: 4%;
  }

  /* GALLERY */

  main.gallery {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5%;
  }

  .box {
    align-items: center;
    background-color: rgb(226, 174, 195);
    border: 2px solid #570d2a;
    color: #18122E;
    display: flex;
    font-size: 2em;
    height: 30vh;
    justify-content: center;
  }

  .box a {
    box-sizing: border-box;
    color: #EFEBFD;
    font-family: "Source Serif 4", serif;
    font-size: larger;
    font-style: italic;
    font-weight: 800;
    text-decoration: none;
    text-shadow: -1px 0 #18122E, 0 1px #18122E, 1px 0 #18122E, 0 -1px #18122E;
  }

  .box1 {
    background: linear-gradient(180deg, rgba(0, 0, 50, 0.8) 0%, rgba(0, 0, 50, 0.8) 100%), url("/images/uxui0.jpg");
    background-position: top center;
    background-size: cover;
  }

  .box2 {
    background: linear-gradient(180deg, rgba(0, 0, 50, 0.8) 0%, rgba(0, 0, 50, 0.8) 100%), url("/images/illus0.jpg");
    background-position: top center;
    background-size: cover;
  }

  .box3 {
    background: linear-gradient(180deg, rgba(0, 0, 50, 0.8) 0%, rgba(0, 0, 50, 0.8) 100%), url("/images/web0.jpg");
    background-position: top center;
    background-size: cover;
  }

  .box4 {
    background: linear-gradient(180deg, rgba(0, 0, 50, 0.8) 0%, rgba(0, 0, 50, 0.5) 100%), url("/images/type0.jpg");
    background-position: top center;
    background-size: cover;
  }

  main.uxui, main.type, main.illus, main.web, main.resume h4, main.resume p, main.resume li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
  }

  main.uxui h1, main.type h1, main.illus h1, main.web h1 {
    font-family: "Source Serif 4", serif;
    padding: 2% 0 0;
    text-align: center;
  }

  main.uxui h2, main.type h2, main.illus h2, main.web h2, main.uxui h3, main.type h3, main.illus h3, main.web h3, main.uxui h4, main.type h4, main.illus h4, main.web h4, main.uxui p, main.type p, main.illus p, main.web p {
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    max-width: 50vw;
  }

  main.uxui, main.type, main.illus, main.web, main.resume {
    padding: 2% 5% 8%;
  }

  .galleryIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 60vh;
    max-width: 70vw;
    padding: 4% 0;
  }

  main.resume h1 {
    font-family: VIRUST;
    text-align: center;
  }

  .resumeText {
    display: grid;
    gap: 5%;
    grid-template-areas:
    "edu work"
    "skills work"
    "contact contact";
    grid-template-columns: 1fr 1fr;
    padding: 5%;
  }

  .resumeText > div.edu {
    border-bottom: 1px solid rgb(255, 255, 255);
    grid-area: edu;
    margin: 0 5%;
  }
  .resumeText > div.skills {
    grid-area: skills;
    margin: 0 5%;
  }
  .resumeText > div.work {
    border-left: 1px solid rgb(255, 255, 255);
    grid-area: work;
    margin: 0 5%;
    padding-left: 10%;
  }
  .resumeText > div.contact {
    border-top: 1px solid rgb(255, 255, 255);
    grid-area: contact;
    margin: 0 3%;
  }

  .resume h2, .resume h3{
    font-size: x-large;
    padding: 2% 0;
  }

  .resume p, .resume li, .resume h4, .resume a  {
    font-size: large;
    padding: 2% 0;
  }

  .contactSections {
    display: flex;
    justify-content: space-between;
  }

  .contactSections a {
    color: #EFEBFD;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
  }

  .footer {
    align-items: center;
    bottom: 0;
    display: flex;
    position: absolute;
    width: 100%;
  }
  
  .footer h2 {
    color: #570d2a;
    font-family: VIRUST;
    padding: 2%;
  }

}

@media only screen and (min-width : 900px) {

  nav a:hover, nav .blue:hover {
    animation: floating 2s infinite;
    color:#E2AEC3;
    text-decoration: underline;
    text-shadow: rgb(255, 112, 200) 0px 0px 10px;
  }

  @keyframes floating {
    0% {
      transform: translateY(0)
    }

    50% {
      transform: translateY(-4px)
    }
  }

  .leftText {
    font-size: .9em;
    text-align: right;
    width: 20vw;
  }

  .rightText {
    font-size: 1.2em;
    width: 30vw;
  }

  main.uxui, main.type, main.illus, main.web, main.resume {
    padding: 2% 5% 6%;
  }

  .box:hover a {
    color: #18122E;
    text-shadow: -1px 0 #EFEBFD, 0 1px #EFEBFD, 1px 0 #EFEBFD, 0 -1px #EFEBFD;
  }

  .box1:hover {
    background: linear-gradient(180deg, rgba(177, 94, 127, 0.6) 0%, rgba(177, 94, 127, 0.6) 100%), url("/images/uxui0.jpg");
    background-position: top center;
    background-size: cover;
  }

  .box2:hover {
    background: linear-gradient(180deg, rgba(177, 94, 127, 0.6) 0%, rgba(177, 94, 127, 0.6) 100%), url("/images/illus0.jpg");
    background-position: top center;
    background-size: cover;
  }

  .box3:hover {
    background: linear-gradient(180deg, rgba(177, 94, 127, 0.6) 0%, rgba(177, 94, 127, 0.6) 100%), url("/images/web0.jpg");
    background-position: top center;
    background-size: cover;
  }

  .box4:hover {
    background: linear-gradient(180deg, rgba(177, 94, 127, 0.6) 0%, rgba(177, 94, 127, 0.6) 100%), url("/images/type0.jpg");
    background-position: top center;
    background-size: cover;
  }

  #webHero:hover {
    content:url("/images/web2.png");
  }

  main.resume {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
  }

}