/*<!--Student Name: Chantel Gee
Assignment Name: Lab 6: Rich Media
Date: 04.10.25*/

/* SEARCH BAR BG COLOR: #121212
  BUTTON BG COLOR: #434349
  DARK BG COLOR: #0f0f0f
*/

@media only screen and (min-width : 300px) {

  @font-face {
    font-family: YouTube;
    src: url(../images/yt-light.ttf);
  }

  * {
    margin: 0;
  }

  body {
    background: rgb(48,48,52);
    background: linear-gradient(90deg, rgba(48,48,52,1) 0%, rgba(15,15,15,1) 100%);
    margin: 2%;
  }

  .leftNav {
    display: flex;
  }

  #menu {
    width: 25px;
  }

  .ytLogo {
    align-items: center;
    display: flex;
    padding-left: 20px;
  }

  #yt {
    width: 35px;
  }

  h2 {
    color: #f1f1f1;
    font-family: YouTube;
  }

}

@media only screen and (min-width : 700px) {
 
}