/*<!--Student Name: Chantel Gee
Assignment Name: Lab 6: Rich Media
Date: 04.10.25*/

/* SEARCH BAR BG COLOR: #121212
  BUTTON BG COLOR: #434349
  BUTTON HOVER BG COLOR: #3f3f3f
  DARK BG COLOR: #0f0f0f
*/

@media only screen and (min-width : 300px) {

  @font-face {
    font-family: yt-light;
    src: url(../images/yt-light.ttf);
  }

  @font-face {
    font-family: yt-med;
    src: url(../images/yt-med.ttf);
  }

  * {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    background: #303034;
    background: linear-gradient(90deg, rgba(48,48,52,1) 0%, rgb(15, 15, 15) 100%);
    margin: 1% 2%;
  }

  nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .leftNav {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
  }

  #menu, #bell {
    cursor: pointer;
    width: 25px;
  }

  .ytLogo {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-right: 15px;
    padding-left: 20px;
  }

  #yt {
    width: 35px;
  }

  h2 {
    color: #f1f1f1;
    font-family: yt-light;
  }

  .middleNav {
    align-items: center;
    display: flex;
    grid-area: 1 / 2 / 2 / 4;
    justify-content: end;
  }

  form.searchBar input[type=text] {
    display: none;
  }
  
  form.searchBar button {
    background: #303034;
    border: 1px solid #303034;
    border-left: none;
    border-radius: 50px;
    color: #f1f1f1;
    cursor: pointer;
    padding: 10px;
    width: 50px;
  }

  #search {
    width: 16px;
  }

  .rightNav {
    align-items: center;
    display: flex;
    grid-area: 1 / 4 / 2 / 5;
    justify-content: end;
  }

  #create {
    background: #272727;
    border: 1px solid #272727;
    border-radius: 10px;
    color: #f1f1f1;
    font-family: yt-med;
    font-size: 17px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    width: 100px;
  }

  #create:hover {
    background-color: #434349;
    cursor: pointer;
  }

  #cat {
    cursor: pointer;
    margin-left: 15px ;
    width: 40px;
  }

  .videoDiv {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
  }

  .ena {
    width: 100%;
  }

  .description h2 {
    padding-top: 10px;
  }

  #cat2 {
    cursor: pointer;
    padding-top: 10px;
    width: 50px;
  }

  .hidden {
    display: none;
  }
}

@media only screen and (min-width : 700px) {

  .middleNav {
    display: block;
    grid-area: 1 / 2 / 2 / 4;
  }

  form.searchBar input[type=text] {
    background: #121212;
    border: 1px solid #121212;
    border-radius: 10px 0 0 10px;
    display: block;
    float: left;
    font-size: 17px;
    padding: 10px;
    width: 85%;
  }
  
  form.searchBar button {
    background: #272727;
    border: 1px solid #272727;
    border-left: none;
    border-radius: 0 10px 10px 0;
    color: #f1f1f1;
    cursor: pointer;
    font-size: 17px;
    float: left;
    padding: 10px;
    width: 15%;
  }

  form.searchBar input[type=text]:focus {
    outline: #3240b9 solid 1px;
  }

  #search {
    width: 15px;
  }
}